// Colors

$primary-blue: #1d92fa;
$second-blue: #69b6f8;
$blue-strong: #024681;
$blue-grey: #4977a6;
$purple: #5c4474;

// Fonts

$small: 16px;
$medium: 20px;
$big: 48px;

// paddings

$large-padding: 10px 15px;
$big-padding: 20px 30px;

// margins

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;